<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Venereissu_backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Venereissu_backend.Properties.Settings.KonmariDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\aspnet\github\konmari-backend\Konmari-backend\bin\Debug\KonmariDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Venereissu_backend.Properties.Settings.KonmariDatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\aspnet\github\konmari-backend\Konmari-backend\bin\Debug\KonmariDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Venereissu_backend.Properties.Settings.KonmariDatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\KonmariDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Venereissu_backend.Properties.Settings.VenereissuConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\aspnet\github\venereissu-backend\venereissu-backend\bin\Debug\Venereissu.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Venereissu_backend.Properties.Settings>
            <setting name="Suola" serializeAs="String">
                <value>Asdf123456</value>
            </setting>
        </Venereissu_backend.Properties.Settings>
    </userSettings>
</configuration>